			<div id="scaffoldingEntryContainer{{scaffoldId}}"><span>Tweet {{scaffoldCount}}:</span>  <input type=text value="{{val}}" onKeyUp="app.processScaffoldField({{scaffoldId}});app.processScaffolding()" id="scaffold{{scaffoldId}}" /><div id="scaffoldRemover{{scaffoldId}}" onClick="app.removeScaffold({{scaffoldId}})" title="Remove" class="removeButton"><i class="fa fa-trash-o"></i></div></div>
