   		 			{{#.}}
					{{#if  outbound}}
					<div style="text-align:right;margin: 0 0 10px 0;" class="dmMessageDiv dm_{{recipient.id_str}}">
						<div class="directMessageContainer bubbleRight">
								Send a message to 
								<span><a href="javascript:app.setDirectMessageReceiver('{{recipient.id_str}}','{{recipient.screen_name}}')">{{recipient.screen_name}}</a> at {{tweetShortDate created_at}}</span>
								<div class="directMessage">{{text}}</div>
						</div>
						<div class="bubbleImageRight"><img src="{{sender.profile_image_url}}" /></div>

					</div>
					
					{{else }}
					<div class="container dmMessageDiv dm_{{sender.id_str}}">
						<div class="bubbleImageLeft"><img src="{{sender.profile_image_url}}" /></div>
						<div class="directMessageContainer bubbleLeft">
							<div>
								Message from
								<span><a href="javascript:app.setDirectMessageReceiver('{{sender.id_str}}','{{sender.screen_name}}')">{{sender.screen_name}}</a>  {{tweetShortDate created_at}}  
								{{#if decryptionSuccessful}}
								<img src="img/encrypted.png" class="dmIcon" />
								{{/if}}
								{{#if signed}}
								<img src="img/signed.jpg" class="dmIcon" />
								{{/if}}								
								</span>
								<div class="directMessage">{{#if decryptionSuccessful}}
								{{seecret}}
								{{else}}
								{{{text}}}
								{{/if}}</div>
							</div>
						</div>
					</div>
					
					{{/if}}
	 				{{/.}}
