	<div id="conversationStatusContainer_{{id_str}}">
	<div style="display:inline-block;vertical-align:top;margin:0 0.5em 0 0;">
		<img src="{{profile_image_url}}" class="profileImg" />
	</div>
	<div style="display:inline-block;vertical-align:top;max-width:80%">
		<div id="conversationInfoDiv_{{id_str}}">
			{{#if message_count}}
			<span style="font-weight:bold;">{{screen_name}}</span> last sent {{tweetShortDate most_recent.created_at}}
				{{#if newMessages}}
					<i class="fa fa-comments msgCount{{newMessageCount}}" aria-hidden="true" style="font-size:1.5em" id="newMessagesStatus_{{id_str}}"></i>
				{{/if}}
			<br/>
			<a href="javascript:app.toggleFriendMessages('{{id_str}}',this.id)" id="friendMessagesToggleLink_{{id_str}}">show conversation</a> (<span id="messageCount_{{id_str}}">{{message_count}}</span>)
			{{else}}
			No Seecret messages from {{screen_name}} 
			{{/if}} 
		</div>
		<div id="friendKeyContainer_{{id_str}}">
		{{#if sentKey}}
			{{#unless publicKey}}
				<!-- user has sent their key to this follower but has not received a public key in return.  TODO:  make this a key request -->
				<input type=button value="Invite {{screen_name}}" onClick="app.keyRequest({{id_str}})"/>
				(You may be seeing this because you are using a new mirror site or a different device.  Read more in the <a href="https://www.seecret.net/faq.html" target="_new">FAQ</a>) 
			{{/unless}}
		{{else}}
			{{#if publicKey}}
				<!-- user has received this follower's public key but has not sent their own public key in response -->
				<br/>{{screen_name}} wants to message you with Seecret.  <input type=button value="Allow" onClick="app.invite({{id_str}},true)"/>
			{{else}}
				<!-- user has not sent or received public keys with this follower -->
				<input type=button value="Invite {{screen_name}}" onClick="app.invite({{id_str}})"/>.  
				<br/>You can send {{screen_name}} messages once they accept your invite
			{{/if}}		
		{{/if}}
		</div>
	</div>
	<div id="friendPublicKeyDetails_{{id_str}}" style="padding:0.5em 0">
	{{#if publicKey}}
		<div id="friendMessageForm_{{id_str}}" style="display:none">
			<textarea id="directMessage_{{id_str}}" class="dmField"></textarea>
			<input type=button onClick="app.prepareDirectMessage('{{id_str}}')" value="Send message" class="button" />
			<br/>Not sure if {{screen_name}} has been allowed to message you?  <input type=button class="button" onClick="app.invite({{id_str}},true)" value="Allow"/>
		</div>
	{{/if}}
	</div>
	</div>		
