			<div style="margin:12px 0">
				{{#if name}} 
					{{#if publicKey}}
					<!--<br/>{{name}} sent you an encryption key on {{publicKey.displayDate}}. -->
					{{/if}}
				<br/>Not sure if {{name}} has your public key?  <input type=button onClick="app.initiateDirectMessages({{id_str}},true)" value="send it"/>  ({{name}} can't send you encryted messages until you have sent them your key)
				{{/if}}
				{{#if sentKeyWarning}}
				<br/>Your current public key is newer than the key you last sent to {{name}}. 
				{{/if}}
			</div>
