   		 			{{#.}}
					<div class="container dmMessageDiv dm_{{sender.id_str}}">
						<div class="directMessageContainer">
							<div>
								Message from
								<span><a href="javascript:app.setDirectMessageReceiver('{{sender.id_str}}','{{sender.screen_name}}')">{{sender.screen_name}}</a>  {{tweetShortDate created_at}}  
								{{#if decryptionSuccessful}}
									<!-- <img src="https://cdn.rawgit.com/simpledynamics/seecret_app/d43b1cab4428ce1e945c2cfcdcab4243b1258284/src/main/resources/public/img/encrypted.png" class="dmIcon" alt="Encrypted" title="Encrypted" /> -->
									<i class="fa fa-lock" aria-hidden="true" style="font-size:1em;" title="Encrypted"></i>
								{{/if}}
								{{#if signed}}
									<!-- <img src="https://cdn.rawgit.com/simpledynamics/seecret_app/d43b1cab4428ce1e945c2cfcdcab4243b1258284/src/main/resources/public/img/signed.jpg" class="dmIcon" alt="Signed" title="Signed" /> -->
									<i class="fa fa-check-square" aria-hidden="true" style="font-size:1em;" title="Signed"></i>
								{{/if}}								
								{{#if new}}
									<!-- <img src="https://cdn.rawgit.com/simpledynamics/seecret_app/e449e723f317fce6866a09c016d36acddaaac9d6/src/main/resources/public/img/new-icon.png" class="dmIconNew" alt="New" title="New" /> -->
									<i class="fa fa-commenting-o" aria-hidden="true" style="font-size:1em;" title="New"></i>
								{{/if}}								
								</span>
								<div class="directMessage">{{#if decryptionSuccessful}}
								{{seecret}}
								{{else}}
								{{{text}}}
								{{/if}}</div>
							</div>
						</div>
					</div>
	 				{{/.}}
