{{#.}}
	<div class="friendDetailsContainer" id="friendDetails_{{id_str}}">
		<div style="display:inline-block;vertical-align:top;margin:0 0.5em 0 0;">
			<img src="{{profile_image_url}}" class="profileImg" />
		</div>
		<div style="display:inline-block;vertical-align:top;max-width:80%">
			<div>
				You have <span id="messageCount_{{id_str}}">{{message_count}} messages</span> from <span style="font-weight:bold;">{{screen_name}}</span>; last message: {{tweetShortDate most_recent.created_at}} <a href="javascript:app.toggleFriendMessages('{{id_str}}',this.id)" id="friendMessagesToggleLink_{{id_str}}">show conversation</a> 
			</div>
			<div id="friendKeyContainer_{{id_str}}">
			{{#unless sentKey}}
				Do you want to invite {{screen_name}} to use Seecret with you?
				<input type=button class="button" value="YES" onClick="app.initiateDirectMessages({{id_str}})"/>.  
				<br/>{{screen_name}} will receive an invite message and a Seecret key that will allow you to exchange encrypted messages.
			{{/unless}}
			</div>
		</div>
		<div id="friendPublicKeyDetails_{{id_str}}" style="padding:0.5em 0">
		{{#if publicKey}}
			<div id="friendMessageForm_{{id_str}}" style="display:none">
				<textarea id="directMessage_{{id_str}}" class="dmField"></textarea>
				<input type=button onClick="app.prepareDirectMessage('{{id_str}}')" value="Send message" class="button" />
				<div style="margin:5px 0;">Not sure if {{screen_name}} has your public key?  <input type=button class="button" onClick="app.initiateDirectMessages({{id_str}},true)" value="Send it"/></div>
			</div>
		{{/if}}
		</div>		
		<div id="friendMessages_{{id_str}}" style="display:none" class="friendMessages"></div>
	</div>
{{/.}}


